// ======================================================
// Abstracts :: Variables
// ======================================================
$normal-font-weight: 300;
$base-font-weight: 400;
$bold-font-weight: 700;

$base-font-family: arial;
$second-font-family: 'RobotoSlab-Bold';
$third-font-family: 'Roboto-Bold';
$fourth-font-family: 'Roboto-Italic';

$base-font-size: 12px;

$text-color: #898989;
$text-color-1: #555;
$brand-color: #3fb871;
$light-brand-color: #59b586;
$border-light-color: #2b2b2b;
$border-color: #e1e1e1;

$black-color: #202020;
$light-black-color: #313131;
$light-black-color-1: #434343;
$red-color: #d64146;
$yellow-color: #febf01;
$grey-color: #959595;
